* {
    /* Font*/
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* Other */
    color: white;
    background-color: rgb(33, 33, 33);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
}

.div-left {
    text-align: center;
    position: fixed;
    width: 25%;
    max-width: 25%;
    height: 80%;
    max-height: 80%;
    padding: 5%;
}

.div-right {
    position: fixed;
    left: 35%;
    width: 55%;
    max-width: 55%;
    height: 80%;
    max-height: 80%;
    padding: 5%;
    overflow-y: scroll;
    border-left: 3px solid gray;
}

.bar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.title-main {
    font-size: 35px;
}

.title-color {
    color: rgb(99, 138, 199);
}

.img-profile {
    border-radius: 50%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.p-section {
    margin-top: 2%;
}

.p-subsection {
    margin-top: 5px;
    color: rgb(188, 188, 188);
}

.span-date {
    color: rgb(215, 215, 103);
}

.a-link {
    color: rgb(85, 210, 200);
    text-decoration: none;
    transition-duration: 0.5s;
}

.a-link:hover {
    color: gray;
}