* {
    /* Font*/
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* Other */
    color: white;
    background-color: rgb(33, 33, 33);
    margin: 1%;
}

.title-color {
    color: rgb(99, 138, 199);
}

.img-profile {
    border-radius: 50%;
    width: 12%;
}