* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1, h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 {
    border-bottom: 1px solid #ccc;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ol, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover {
    color: blue;
}

code {
    color: rgb(173, 0, 0);
}

details {
    background: rgb(236, 236, 236);
    border: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

details[open] summary {
    color: rgb(0, 140, 255);
}

img {
    border: 1px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 95%;
}

.contents {
    border: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info {
    background-color: rgb(220, 239, 255);
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0.5rem;
}

.last-update {
    color: rgb(88, 88, 88);
}

.license {
    border: 1px solid #ccc;
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.license img {
    width: 150px;
}