* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin-left: 5rem;
    margin-right: 5rem;
}

code {
    font-family: monospace;
}

ul {
    margin-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

li:last-child {
    margin-bottom: 0;
}

h1 {
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding-bottom: 0.5rem;
}

h2 {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
}

p {
    line-height: 1.5;
}

code {
    color: rgb(180, 0, 0);
}

.box {
    border-radius: 10px;
    padding: 0.5rem;
}

.info {
    background-color: rgb(215, 237, 255);
    border: 2px solid rgb(0, 140, 255);
}

.image {
    border: 2px solid black;
    width: 40rem;
}